:root{
    --yellow:#F7CA3E;
    --red:#ff0800;
    --brown:#8b4513;
    --backg:#ffdead;
}
header{
    position: fixed;
    top: 0;left: 0;
    z-index: 1000;
    width: 100%;
    padding: 1.5rem 10%;
    background: var(--brown);
    box-shadow: 0 .3rem 2rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .logo img{
    height: 5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin-left: 3rem;
}
header .navbar ul li a{
    font-size:1.7rem ;
    color:#fff;
}

header .navbar ul li a:hover{
    color: var(--yellow);
}
/* footer */

.footer{
  width: 100%;
}
.footer .box-container{
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    background: var(--color-primario);
    padding:2rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    position: relative;
    top: 600rem;
  }
  
  .footer .box-container .box{
    flex:1 1 20rem;
  }
  
  .footer .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
  
  .footer .box-container .box a{
    color:#666;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;
  }
  
  .footer .box-container .box a:hover{
    color:var(--color-secundario);
  }
  
  .footer .box-container .credit{
    text-align: center;
    width:100%;
    border-top: .4rem solid rgba(0,0,0,.4);
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding:1rem;
    padding-top: 2rem;
    color: var(--color-secundario);
  }
  
  .footer .box-container .credit span a{
    color:var(--color-texto);
    font-weight: 700;
    cursor: pointer;
  }
  
  .footer .box-container .credit .copy {
    color: var(--color-texto);
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  .footer .box-container .credit span:hover{
    text-decoration: underline;
  }
  